body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: black;
}

html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400p;
    list-style: 1.8em;
    color: black;
}

/* Navbar */
a.navbar-brand {
    font-size: 40px;
    margin: 0px 20px 0px 5px;
}
#brand {
    color: yellow;
    font-size: 50px;
}
.navbar {
    height: 60px;
}

/* ---- Images ---- */
.img-1 .img-2, .img-3, .img-4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: scroll;
}
.img-1 {
    background-image: url("../images/part1pic.jpeg");
    min-height: 90%;
    margin-top: 150px;
}
.img-2 {
    background-color: yellow;
    min-height: 100%;
}
.img-3 {
    background: white;
    min-height: 100%;
    min-width: 40%;
    
}
.img-4 {
     background-color: yellow;
     min-height: 100%;
}

/* ---- Content  ---- */
.content1 {
    text-align: center;
}
.content2 {
    text-align: center;
}
.content3 {
    text-align: center;
}

.brand {
    font-size: 65px;
    font-weight: bold;
    color: white;
    font-style: italic; 
}



/* ---- Text Images ---- */

/* Text on page 1*/
 .img-text1 {
    padding: 100px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

/* Text on page 1 */
.p2 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 20px 0px 0px 40px;
    text-shadow: 4px 8px 10px black,
}

                                            /* Section 2 */
.img-text2 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    padding: 20px 0px;
}


div.col-lg-3 {
    border: none;
    width: 100%;
    margin: 30px 0px;
    color: black;
}
li {
    color: white;
    text-shadow: 1px 1px 2px black,
                 -1px -1px 4px black;
}
a{
    text-shadow: none;
}

div.col-lg-2 {
    padding: 0px 0px;
}
.icon {
    margin: 20px 0px;
}

p {
    position: absolute;
    top: 30%;
    left: 60%;
    margin: 0px 40px;
    color: white;
    text-shadow: 2px 6px 10px black;
}
div.form-group {
    margin-left: 500px;
}
/* "HOW" word on Section 2 */
.p {
    font-size: 60px;
    color: red;
    font-weight: bold;
    margin-right: 500px;
    position: relative;
    bottom: -60px;
    left: -40px;
}


                                        /* Section 3 */
.img-text3 {
    text-align: center;
}



                                        /* Section 4 */
.img-text4 {
    text-align: center;
}
.section-intro {
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 18px;
    padding: 20px 0px;
}

.header-row {
    font-weight: bold;
    color: black;
}


/* Input */
#user-location {
    width: 600px;
    margin: 0px 0px 0px 350px; 

}
label {
    margin: 250px 0px;
    text-shadow: 2px 2px 2px yellow,
                 0px 4px 6px black; 
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 2px;
}

/* button */
.btn {
    background-color: yellow;
    color: white;
    margin-left: 20px;
    box-shadow: 0px 2px 2px black;
}

.logos {
    font-weight: bold;
    font-size: 20px;
}

/*  Bottom Logos */
.fab.fa-bootstrap {
    color: purple;
}

.fab.fa-font-awesome {
    color: rgb(0, 132, 255);
}

.fab.fa-google {
    color: rgb(0, 132, 255);
}

.question {
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 4px black;
    padding: 20px 0px 0px 0px;
}

.advertisement {
    padding: 10px 0px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    font-size: 10px;
}
#first-row {
   margin: 0px 0px 0px 80px;
}

div.row {
    margin: 0px;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    width: 60%;
    height: 100%;
  }

 
