body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: black;

}

html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400p;
    list-style: 1.8em;
    color: #666;

}


/* ---- Images ---- */
.img-1 .img-2, .img-3, .img-4 {
    position: relative;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: scroll;
}

.img-1 {
    background-image: url("../images/part1pic.jpeg");
    min-height: 90%;
    
}

.img-2 {
    background-color: yellow;
    min-height: 100%;
}

.img-3 {
    background: white;
    min-height: 100%;
}

.img-4 {
     background-color: yellow;
     min-height: 100%;
}


/* ---- Content  ---- */
.content1 {
    text-align: center;
}
.content2 {
    text-align: center;
}
.content3 {
    text-align: center;
}
p {
    color: black; 
}

.p2 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 20px 0px 0px 40px;
    text-shadow: 4px 8px 10px black;

}




.brand {
    font-size: 65px;
    font-weight: bold;
    color: white; 
}



/* ---- Text Images ---- */
 .img-text1 {
    padding: 100px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.img-text2 {
  
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    padding: 20px 0px 0px 0px;
    font-weight: bold;
}


div.container {
    text-align: center;
}
div.col-lg-3 {
    border: none;
    width: 100%;
    margin: 30px 0px;
    color: black;
    
}

.icon {
    margin: 20px 0px;
}

p {
    position: absolute;
    top: 30%;
    left: 60%;
    margin: 0px 40px;
    color: white;
    text-shadow: 2px 6px 10px black;
}
div.form-group {
    margin-left: 500px;
}


/* Part 3 */
.img-text3 {
    text-align: center;


}


/* Part 4 */
.img-text4 {
    text-align: center;
    padding: 200px 0px 0px 0px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Navbar */
a.navbar-brand {
    font-size: 40px;
    margin: 0px 20px 0px 5px;
}
#brand {
    color: yellow;
    font-size: 50px;
}


/* Input */
#user-location {
    width: 600px;
    margin: 0px 0px 0px 350px; 

}
label {
    margin: 250px 0px;
    text-shadow: 2px 2px 2px yellow,
                 0px 4px 6px black; 
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 2px;
}

#div.row {
    position: absolute;
    width: 100%;
    text-align: center;
}
